<div>
  <form class="form-signin">
    <h2 class="form-signin-heading"> Please sign in</h2>
    <label for="inputEmail" class="sr-only"> Email address</label>
    
    <input #username type="email" id="inputEmail" class="form-control"
     placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input  #password type="password" id="inputPassword" class="form-control" 
    placeholder="Password" required >

    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
      <button class="btn btn-lg btn-primary btn-block" 
    type="submit" (click)="status = doLogin(username.value, password.value)">Sign in</button>

    <div class="alert alert-danger" role="alert" *ngIf="status"> Invalid user</div>
  </form>

</div>
<!-- /container ....-->